@model AudioGearTracker.Core.Entities.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="grid grid-cols-1 sm:grid-cols-6 gap-x-4">
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.ReviewScore)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.ReviewScore)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-span-1 sm:col-span-2 font-bold text-gray-700">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-span-1 sm:col-span-4 text-gray-900">
            @Html.DisplayFor(model => model.Brand.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
